@import "tailwindcss";

@theme {
  --color-primary: #C92071;
  --color-secondary: #B5B6F2;
  --color-tertiary: #991956;
  --color-error: #EE4266;
  --color-success: #52CA76;
  --color-warning: #F6AA1C;

  /* Grayscale */
  --color-dark-gray: #1F1F1F;
  --color-dark-gray-2: #474747;
  --color-dark-gray-3: #666666;
  --color-light-gray: #8F8F8F;
  --color-light-gray-2: #CCCCCC;
  --color-light-gray-3: #F5F5F5;
  --color-white: #FFFFFF;
}

* {
  font-family: 'Inter';
}

body {
  background-color: var(--color-light-gray-3);
}

.footer-links-div{
  width: 9.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.socialmedia{
  display: flex;
  flex-direction: row;
}

.socialmedia p{
  width: 80%;
}

.footer-links-div h4{
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 1.75rem;
}

.footer-links-div a{
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
}

.footer-below{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3.625rem;
}

.footer-copyright{
  display: flex;
  flex-direction: row;
}

.footer-copyright p{
  font-size: 13px;
  line-height: 24px;
}

hr{
  color: white !important;
  width: 100%;
}